/*-------------------------------------------
  Callouts
-------------------------------------------*/
.callout {
	box-shadow: 0px 1px 2px 0px transparentize($grey, .75);
	margin-bottom: em(60);
	padding: 36px 20px 40px;
	text-align: center;

	.btn + .btn {
		margin-left: 16px;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
.callout_bg {
	&:after {
		background: transparentize($grey-dk, .22);
		content: '';
		@extend %cover;
	}
}
.callout_tag {
	color: $text-xlt;
	display: block;
	margin: -.5em 0 1em;
}
.callout_txt {
	@extend %h7; // font-size: 14px
	margin-bottom: 1.857142857em; // 26px
}
h5.callout_txt {
	@extend %h5;
}
.callout_body {
	font-size: rem(13);
	line-height: 1.692307692em;
	margin: -1.769230769em 0 1.307692308em;
}

/*-------------------------------------------
  Small Screen Styles
-------------------------------------------*/
@include max-down($tablet) {
	.callout {
		margin-bottom: em(40);
		padding: 25px 20px 30px;
	}
	.callout_txt {
		font-size: rem(13);
		line-height: 1.538461538em; // 20px
		margin-bottom: 1.923076923em; // 25px
	}
}
@include max-down($mobile) {
	.callout {
		.btn:not(.btn-solo) {
			padding-left: 0;
			padding-right: 0;
			width: calc(50% - 12px);
		}
	}
}