/*-------------------------------------------
  Typography
-------------------------------------------*/
// Font Size Placeholders (to be extended for reusable font sizes)
%h1 {font-size: rem(55)}
%h2 {font-size: rem(40)}
%h3 {font-size: rem(35)}
%h4 {font-size: rem(25)}
%h5 {font-size: rem(18)}
%h6 {font-size: rem(16)}
%h7 {font-size: rem(14)}
%h8 {font-size: rem(12)}

@include max-down($tablet) {
	%h1 {font-size: rem(27)}
	%h2 {font-size: rem(25)}
	%h3 {font-size: rem(22)}
	%h4 {font-size: rem(18)}
	%h5 {font-size: rem(16)}
	%h6 {font-size: rem(14)}
}

// Font Sizes/Line Heights
h1 {
	@extend %h1; // font-size: 55px
	line-height: 1.181818182em; // 65px
}
h2 {
	@extend %h2; // font-size: 40px
	line-height: 1.225em; // 49px
}
h3 {
	@extend %h3; // font-size: 35px
	line-height: 1.228571429em; // 43px
}
h4 {
	@extend %h4; // font-size: 25px
	line-height: 1.28em; // 32px
}
h5 {
	@extend %h5; // font-size: 18px
	line-height: 1.222222222em; // 22px
}
h6 {
	@extend %h6; // font-size: 16px
	line-height: 1.3125em; // 21px
}
.h7 {
	@extend %h7; // font-size: 14px
	line-height: 1.357142857em; // 19px
}
.h8 {
	@extend %h8; // font-size: 12px
	line-height: 1.5em; // 18px
}
p, ol, ul {
	@extend %h7; // font-size: 14px
	line-height: 1.642857143em; // 23px
}

@include max-down($mobile) {
	h1 {
		line-height: 1.185185185; // 32px
	}
	h3 {
		line-height: 1.272727273em; // 28px;
	}
	h4 {
		line-height: 1.333333333em; // 24px
	}
	h5 {
		line-height: 1.3125em; // 21px
	}
	h6 {
		line-height: 1.285714286em; // 18px
	}
	.h8 {
		line-height: 1.25em; // 15px
	}
}

// Main page headings
.page {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h7,
	.h8 {
		font-weight: 800;
		text-transform: uppercase;
	}
	h1 {
		letter-spacing: .04em;
	}

	@include max-down($mobile) {
		h1 {
			letter-spacing: .025em;
		}
	}
}

// Alignment
.meta {
	border: 0!important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px!important;
	width: 1px!important;
	overflow: hidden!important;
	padding: 0!important;
	position: absolute!important;
}

// Font Styles
em {
	font-style: italic;
}
strong {
	font-weight: 700;
}
.tertiary {
	font-family: $display;
	font-weight: normal;
	@extend %h7; // font-size: 14
	letter-spacing: .07em;
	text-transform: uppercase;
}

// Margins
p {
	margin-bottom: 1.642857143em;
}
.page {
	ol, ul {
		margin-bottom: 1.642857143em;
	}
}

// Lists
.copy {
	ol, ul {
		margin-left: 1.25em;
	}
	ol {
		&:not(.grid),
		&:not(.latest_list) {
			list-style: decimal;	
		}
	}
	ol ol {list-style: upper-alpha;}
	ol ol ol {list-style: upper-roman;}
	ol ol ol ol {list-style: lower-alpha;}
	ol ol ol ol ol {list-style: lower-roman;}

	ul {
		&:not(.grid),
		&:not(.latest_list) {
			list-style: disc;
		}
	}
	ul ul {list-style: circle;}
	ul ul ul {list-style: square;}
}

// Hide FOUT
.wf-loading {
	* {
		color: rgba(0, 0, 0, 0)!important;
	}
}

/*-------------------------------------------
  Common Typography
-------------------------------------------*/
// Section Headings
.section-hdg,
.section-tag {
	text-align: center;
}
.section-hdg {
	margin-bottom: 1.485714286em; // 52px

	@include max-down($tablet) {
		margin-bottom: 1.590909091em; // 35px
	}
}
.section-tag {
	color: $text-xlt;
	display: block;
	margin-bottom: .5em;
}

// Modules (cards, posts, etc.)
.mod_title {
	margin-bottom: 1.055555556em; // 19px (Mod titles are H5 tags)

	@include max-down($tablet) {
		margin-bottom: em(9);
	}
}
.mod_body {
	color: $text-lt;
}
.mod_time {
	color: $text-xlt;
}

/*-------------------------------------------
  Font Family Declarations
-------------------------------------------*/
// Icon Font
@font-face {
	font-family: 'Fender Icons';
	src: url('../fonts/icns.eot');
	src: url('../fonts/icns.eot?#iefix') format('eot'),
		 url('../fonts/icns.woff') format('woff'),
		 url('../fonts/icns.ttf') format('truetype'),
		 url('../fonts/icns.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
%icn-fnt {
	display: inline-block;
	font-family: $icons;
	font-style: normal;
	font-weight: normal;
	position: relative;
	text-transform: none;
}