/*-------------------------------------------
  Learn Cards
-------------------------------------------*/
.card {
	background: $white;
	border: 1px solid $grey-lt;	
	box-shadow: 0px 2px 3px 0px transparentize($grey, .75);
	text-align: left;
	white-space: normal;
}
.card_img {
	display: block;
	position: relative;

	&:after {
		background: transparentize($grey-dk, .5);
		content: '';
		@extend %cover;
	}

	img {
		display: block;
		height: auto;
		width: 100%;		
	}
}
.card_copy,
.card_lms {
	padding: 32px 40px 20px;
}
.card_count {
	color: $text-xlt;
	display: inline-block;
	font: rem(30) $display;
	margin-bottom: .2em; // 6px
	vertical-align: middle;
}
.card_note {
	background: $text-xlt;
	color: $white;
	display: inline-block;
	font-size: rem(10);
	margin-left: 1em;
	position: relative;
	top: -.1em;
	vertical-align: text-bottom;
}
.card_body {
	margin-bottom: 3em; // 42px
}
.card_meta {
	margin-bottom: em(12);
}
.card_lvl {
	color: $text-lt;

	&:after {
		color: $grey-lt;
		content: ' |';
		margin: 0 7px;
		position: relative;
		top: -1px;
	}
}
.card_time {
	@extend %icn-before;

	&:before {
		background-position: 0 -22px;
		height: 12px;
		margin-right: 7px;
		top: 1px;
		width: 12px;
		@extend %sprite;
	}
}
.card_lms {
	border-top: 1px solid $grey-xlt;
	padding-top: 20px;
	overflow: hidden;
}
.card_btn {
	padding-left: 20px;
	padding-right: 20px;
	@extend %align-left;
}
.card_status {
	letter-spacing: .05em;
	line-height: 2.857142857; // 40px to match height of btn
	white-space: nowrap;
	@extend %align-right;

	&.success {
		color: $success;

		i {
			background-position: -22px -22px;
			height: 12px;
			margin-right: 3px;
			top: 1px;
			width: 12px;
		}
	}
}

// Coming Soon
.card-inactive {
	background: $offwhite;

	.card_img {
		&:after {
			background-color: transparentize($white, .2);
		}
	}
	.card_title,
	.card_body,
	.card_lms {
		color: $text-xlt;
	}
	.card_body {
		margin-bottom: 0;
	}
	.card_lms {
		border-top: none;
		padding-top: 0;
	}
	.card_status {
		float: none;
		@extend %h6;
	}
}

// Lesson Cards
.card-lesson {
	margin-bottom: 20px;
	padding: 45px 120px 46px 40px;
	position: relative;

	&:hover {
		.lesson_go {
			.goLink_icn {
				color: $accent-alt;
			}
		}
	}

	.card_note {
		margin-left: 0;
	}
}
.lesson_title,
.lesson_description,
.lesson_status,
.lesson_go {
	display: inline-block;
	vertical-align: middle;
}
.lesson_title,
.lesson_description {
	padding-right: 20px;
}
.lesson_title {
	width: 26.6666667%; // 240px
}
.lesson_description {
	margin-right: 6.6666667%; // 60px
	width: 46.6666667%; // 420px

	p:last-child {
		margin-bottom: 0;
	}
}
.lesson_hdg {
	display: inline-block;
	margin-right: 1em;
	vertical-align: text-bottom;
}
.lesson_go {
	position: absolute;
	right: 40px;
	@extend %center-vert;

	.goLink_icn {
		color: $accent;
		line-height: 1em;
	}
}

/*-------------------------------------------
  Small Screen Styles
-------------------------------------------*/
@include max-down($tablet) {
	/*-------------------------------------------
	  Learn Cards
	-------------------------------------------*/
	.card_copy {
		padding: 25px 20px 20px;
	}
	.card_count {
		font-size: rem(25);
		margin-bottom: .44em; // 11px
	}
	.card_body {
		margin-bottom: -.428571429em; // -6px
	}
	.card_meta {
		margin-bottom: 0;
	}
	.card_lms {
		padding: 20px;
	}
	.card_status {
		font-size: rem(13);
	}

	// Lesson Cards
	.card-lesson {
		padding: 26px 20px 23px;
	}
	.lesson_title,
	.lesson_description,
	.lesson_status {
		display: block;
		width: 100%;
	}
	.lesson_hdg {
		margin-bottom: .642857143em; // 7px
		vertical-align: top;
	}
	.lesson_description {
		margin-bottom: 2.357142857em; // 33px
	}
	.lesson_go {
		bottom: 20px;
		right: 20px;
		top: auto;
		@include transform(none);
	}
}