/*-------------------------------------------
  Buttons
-------------------------------------------*/
.btn {
	background: $accent;
	border: none;
	color: $white;
	display: inline-block;
	font-family: $display;
	@extend %h7; // font-size: 14px
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	letter-spacing: .07em;
	line-height: 1.2em;
	padding: 13px 30px 11px;
	text-transform: uppercase;

	&:hover {
		background: $accent-alt;
		color: $white;
	}
}
.btn-more {
	padding: 13px 20px 11px;
	@extend %icn-before;

	&:before {
		background-position: 0 0;
		height: 12px;
		top: 1px;
		width: 12px;
		@extend %sprite;
	}
}
%btn-border {
	border: 1px solid $grey-dk;
	padding: 12px 30px 10px;
}
.btn-alt,
.btn-disabled {
	background: none;

	&:hover {
		background: none;
	}
}
.btn-alt {
	background: none;
	color: $grey-dk;
	@extend %btn-border;

	.bg & {
		border-color: $white;
		color: $white;
	}

	&:hover {
		border-color: $accent;
		color: $accent;
	}
}
.btn-disabled {
	border-color: $grey;
	color: $text-xlt;
	cursor: default;
	@extend %btn-border;

	&:hover {
		color: $text-xlt;
	}
}
.btn-blank {
	background: none;
	color: $accent;
	padding-left: 0;
	padding-right: 0;

	&:hover {
		background: none;
		color: $accent-alt;
	}
}
.btn-top {
	background: lighten($grey-dk, 6%);
	border-color: $text-lt;
	color: $grey-xlt;
	padding-left: 15px;
	padding-right: 15px;
	@extend %btn-border;
	@extend %icn-after;

	&:after {
		background-position: -133px 0;
		height: 14px;
		top: 1px;
		width: 10px;
		@extend %sprite;
	}

	&:hover {
		background: lighten($grey-dk, 10%);
		border-color: $text-lt;
		color: $grey-xlt;
	}
}

// Button Reset
%btn-reset {
	background-color: transparent;
	border: none;
	padding: 0;
}