/*-------------------------------------------
  Master Grid Elements
-------------------------------------------*/
.grid {
	overflow: hidden;
}
.grid_item {
	float: left;
}

/*-------------------------------------------
  Grid of Cards
-------------------------------------------*/
.grid-cards {
	margin: 0 -9px;

	.grid_item {
		margin-bottom: em(38);
		padding: 0 9px;
		width: 33.333333333%;

		&:nth-child(3n + 1) {
			clear: left;
		}
	}
}

/*-------------------------------------------
  Grid of Rewards
-------------------------------------------*/
.grid-rewards {
	margin: 0 -10px;

	.grid_item {
		padding: 0 10px;
		width: 25%;
	}
}

/*-------------------------------------------
  Small Screen Styles
-------------------------------------------*/
@include max-down($tablet-lg) {
	.grid-cards {
		.grid_item {
			width: 50%;

			&:nth-child(3n + 1) {
				clear: none;
			}
			&:nth-child(2n + 1) {
				clear: left;
			}
		}
		.grid_item-inactive {
			display: none;
		}
	}
}
@include max-down($tablet) {
	/*-------------------------------------------
	  Grid of Cards
	-------------------------------------------*/
	// Scrollable
	ol.grid-cards-alt {
		margin: 0 -20px 2.142857143em;
		overflow: scroll;
			-ms-overflow-style: none;
			-webkit-overflow-scrolling: touch;
		padding-left: 20px;
		white-space: nowrap;

		.grid_item {
			display: inline-block;
			float: none;
			margin-bottom: 0;
			padding: 0;
			vertical-align: top;
			width: 18.714285714em; // 262px

			&:last-child {
				margin-right: 20px;
			}

			+ .grid_item {
				margin-left: 4px;
			}
		}
	}
}
@include max-down($mobile-lg) {
	/*-------------------------------------------
	  Grid of Cards
	-------------------------------------------*/
	.grid-cards {
		.grid_item {
			width: 100%;

			&:nth-child(2n + 1) {
				clear: none;
			}
		}
	}
}