/*-------------------------------------------
  Learn - Courses, Chapters, etc.
-------------------------------------------*/
.lms {
	background: $offwhite;
	padding: em(80) 0 em(130);
	text-align: center;

	.dashboard & {
		padding-top: em(100);
	}
}
.lms_wrapper {
	max-width: em(1060 + $gutters);
}
.lms_more {
	display: none;
}

// Lessons
ol.lessons {
	margin-bottom: 2.857142857em; // 40px
}

/*-------------------------------------------
  Multiple Choice Questions
-------------------------------------------*/
.multiChoice_opt {
	display: none;
}
.multiChoice_lbl {
	cursor: pointer;
	display: block;
	font-size: rem(13);
	font-weight: 800;
	text-align: left;
	text-transform: uppercase;

	.multiChoice_opt:checked + & {
		background: $grey-dk;
		color: $white;
	}
}

// Trivia
.trivia {
	.multiChoice {
		margin-bottom: 2.714285714em; // 38px
	}
	.question_lbl {
		display: block;
		@extend %h7; // font-size: 14px
		line-height: 1.571428571em; // 22px
		margin-bottom: 2.142857143em; // 30px
		white-space: normal;
		width: 100%;
	}
	.multiChoice_lbl {
		border: 1px solid $text-lt;
		padding: 14px 25px 13px;
		margin-bottom: 10px;

		&:hover {
			border-color: $white;
			box-shadow: inset -1px 0 0 0 $white,
						inset 1px 0 0 0 $white,
						inset 0 -1px 0 0 $white,
						inset 0 1px 0 0 $white;
		}
	}
	.multiChoice_opt:checked {
		+ .multiChoice_lbl {
			background: none;
			border-color: $accent;
			box-shadow: inset -1px 0 0 0 $accent,
						inset 1px 0 0 0 $accent,
						inset 0 -1px 0 0 $accent,
						inset 0 1px 0 0 $accent;
		}
	}
}

/*-------------------------------------------
  Sticky Nav
-------------------------------------------*/
.navBar {
	border-bottom: 1px solid $grey-xlt;
	box-shadow: 0 1px 2px 0 transparentize($grey, .85);
	position: relative;
}
.navBar_back {
	border-right: 1px solid $grey-xlt;
	color: $grey;
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 60px;

	&:hover {
		color: $accent;
	}
}
.navBar_back_icn {
	font-style: normal;
	left: 0;
	position: absolute;
	width: 100%;
	@extend %center-vert;
	@extend %icn-fnt;
}
.navBar_wrapper {
	height: em(60);
	max-width: em(1100);
	overflow: hidden;
}
.navBar_current {
	display: block;
	font-size: rem(13);
	font-weight: 800;
	position: relative;
	text-transform: uppercase;
	@extend %center-vert;
	@extend %align-left;

	.tertiary {
		color: $text-xlt;
		display: block;
		margin-bottom: .214285714em; // 3px
	}
}
.navBar_status {
	display: block;
	position: relative;
	@extend %center-vert;
	@extend %align-left;
}
.navBar_btn {
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	text-align: center;
	width: 12.142857143em; // 170px
	@extend %center-vert;
	@extend %align-right;
}

/*-------------------------------------------
  Small Screen Styles
-------------------------------------------*/
@include max-down($tablet) {
	.lms {
		padding: em(34) 0 em(50);
	}
	.lms_more {
		display: block;
		padding-left: 20px;
		padding-right: 20px;
	}
}