<footer id="page-foot" class="foot">
	<div class="foot_wrapper">
		<a class="brand brand-foot" href="/">
			<img class="brand_img" src="{{ assets }}/img/global/logo.png" width="154" alt="The Fender Academy logo" />
		</a><!-- /.brand -->

		<nav class="nav nav-foot">
			<h2 class="meta">Additional Navigation</h2>

			<ul class="nav_list">
				<li><a href="#">About Fender</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Terms & Conditions</a></li>
			</ul>

			<small class="copyright">Copyright © 2016 Fender Musical Instruments Corporation. All rights reserved.</small>
		</nav><!-- /.nav -->

		<a class="btn btn-alt btn-top foot_top" href="#page-head">Top</a>
	</div><!-- /.foot_wrapper -->
</footer><!-- /#page-foot -->