<header id="page-head" class="head">
	<a class="nav-btn nav-btn-menu" href="#main-nav">Main Navigation</a>
	<a class="nav-btn nav-btn-user" href="#user-nav">User Navigation</a>
	<a class="nav-btn nav-btn-close" href="#main">Skip Navigation</a>

	<a class="brand brand-head" href="/">
		<h1 class="meta">Fender Academy</h1>
		<img class="brand_img" src="{{ assets }}/img/global/logo.png" width="142" alt="The Fender Academy logo" />
	</a><!-- /.brand -->

	<nav id="main-nav" class="nav nav-main nav-head">
		<h2 class="meta">Primary Navigation</h2>

		<ul class="nav_list">
			<li class="dropdown">
				<a class="nav_item dropdown_btn page-btn" href="learn.html">Learn</a>

				<ul class="dropdown_list">
					<li><a href="chapter.html">Fender Fundamentals</a></li>
					<li><a href="chapter.html">Electric Guitar</a></li>
					<li><a href="chapter.html">Bass Guitar</a></li>
					<li><a href="chapter.html">Amplifiers</a></li>
					<li><a href="chapter.html">Acoustics</a></li>
					<li><a href="chapter.html">Folk & Bluegrass</a></li>
					<li><a href="chapter.html">Limited Edition</a></li>
					<li><a href="#">+ See All</a></li>
				</ul><!-- /.dropdown_list -->
			</li>
			<li class="dropdown">
				<a class="nav_item dropdown_btn page-btn" href="latest.html">Latest</a>

				<ul class="dropdown_list">
					<li><a href="latest-category.html">Video</a></li>
					<li><a href="latest-category.html">Products</a></li>
					<li><a href="latest-category.html">Events</a></li>
					<li><a href="latest-category.html">Spotlight</a></li>
					<li><a href="latest-category.html">Rewards</a></li>
					<li><a href="latest-archive.html">Archive</a></li>
				</ul><!-- /.dropdown_list -->
			</li>
			<li class="dropdown">
				<a class="nav_item dropdown_btn page-btn" href="resources.html">Resources</a>

				<ul class="dropdown_list">
					<li><a href="resources-calendar.html">Calendar</a></li>
					<li class="nav_downloads"><a href="resources-events.html">Downloads</a></li>
				</ul><!-- /.dropdown_list -->
			</li>
			<li class="nonDropdown"><a class="nav_item page-btn" href="learn.html">Support</a></li>
		</ul>
	</nav><!-- /.mainNav -->

	<nav id="user-nav" class="nav nav-user nav-head">
		<h2 class="meta">User Navigation</h2>

		<div class="dropdown nav_module nav_avatar">
		
			<!-- .avatar element can have classes gold, silver, or bronze to show different pick outlines -->
			<figure class="avatar gold">
				<img class="avatar_img" src="{{ assets }}/img/uploads/user-lg-01.jpg" width="32" height="32" alt="My avatar" />
			</figure>

			<span class="nav_item dropdown_btn"><span class="nav_uname">Adam</span></span>

			<ul class="dropdown_list">
				<li><a href="dashboard.html">Dashboard</a></li>
				<li><a href="account.html">My Account</a></li>
				<li><a href="#">Log Out</a></li>
			</ul>
		</div><!-- /.nav_avatar -->

		<div class="nav_module nav_iq">
			<div class="iq" data-pct="60">
				<strong class="nav_iq_title iq_title">My Fender IQ</strong>

				<div class="canvIq iq_img" data-iq="110" data-goal="200" data-size="35" data-dots="no">
					<span class="iq_lbl tertiary">102</span>
				</div>
			</div><!-- /.iq -->
		</div><!-- /.nav_iq -->
	</nav><!-- /.userNav -->
</header><!-- /#page-head -->