{% extends 'layouts/default' %}

{% set title = 'Chapter' %}
{% set id = 'chapter' %}
{% set data_page = 'chapter' %}

{% block body %}
	<div class="banner bg">
		<figure class="banner_bg bg_img">
			<img src="{{ assets }}/img/uploads/banner-03.jpg" alt="Image description" />
		</figure>

		<div class="banner_wrapper wrapper">
			<div class="banner_copy">
				<span class="banner_tag tertiary">Chapter 02</span>
				<h3 class="banner_title">Electric Guitars</h3>
			</div><!-- /.banner_copy -->

			<a class="banner_back" href="learn.html"><span class="banner_back_icn"><span class="meta">Back to the Learn section</span></span></a>
		</div><!-- /.banner_wrapper -->
	</div><!-- /.banner -->

	<div class="page chapter">
		<div class="intro chapter_intro">
			<div class="lms_wrapper wrapper">
				<div class="intro_head">
					<span class="intro_callout intro_callout-alt tertiary">Ready to test?</span>
					<span class="intro_callout tertiary">Think you're ready for the Electric Guitar test?</span>
					<a class="intro_btn btn js-modal-btn" href="test.html">Take Chapter Test</a>
				</div><!-- /.intro_head -->

				<div class="intro_copy copy">
					<h4 class="intro_hdg">About Electric Guitars</h4>

					<div class="intro_body mod_body">
						<p>If you’ve never built a website before and you have no coding or design experience, this is the place to start. In this project, we learn how to build a modern portfolio website for desktops, tablets, and mobile devices. We start with basic HTML and CSS syntax. Next, we learn how to build custom web pages with an image gallery and contact page. Finally, we walk through how to share a website live on the web. <strong><em>PLO 70-80 words max.</em></strong></p>
					</div><!-- /.intro_body -->
				</div><!-- /.intro_copy -->

				<div class="intro_stats stats">
					<h6 class="stats_hdg h8">What You’ll Learn</h6>

					<ul class="stats_list mod_body">
						<li>How to write basic HTML</li>
						<li>How to style web pages with CSS</li>
						<li>Learn about the Stratocaster history, features word</li>
						<li>How to purchase a domain and hosting</li>
						<li>Max number of points: 5, character count: 50</li>
					</ul>
				</div><!-- /.intro_stats -->

				<div class="intro_meta tertiary">
					<span class="card_lvl mod_lvl">Basic</span>
					<span class="card_time mod_time">45 Mins</span>
				</div><!-- /.card_meta -->
			</div><!-- /.lms_wrapper -->
		</div><!-- /. intro -->

		<div id="learn" class="lms">
			<div class="lms_wrapper wrapper">
				<ol class="lessons">
					<li>
						<article class="lesson card card-lesson">
							<div class="lesson_title">
								<h6 class="lesson_hdg">Why Fender</h6>
							</div><!-- /.lesson_title -->

							<div class="lesson_description mod_body">
								<p>Learn about the Stratocaster history, features, sound and style, and what makes then unique dolor sit amet minium.</p>
							</div><!-- /.lesson_description -->

							<span class="lesson_status card_time mod_time tertiary">Viewed</span>

							<span class="lesson_go goLink"><span class="goLink_icn"><span class="meta">More Information</span></span></span>

							<a class="cover" href="lesson.html">View Lesson</a>
						</article><!-- /.lesson -->
					</li>
					<li>
						<article class="lesson card card-lesson">
							<div class="lesson_title">
								<h6 class="lesson_hdg">Electric Guitar Anatomy</h6>
							</div><!-- /.lesson_title -->

							<div class="lesson_description mod_body">
								<p>Learn about the Stratocaster history, features, sound and style, and what makes then unique dolor sit amet minium.</p>
							</div><!-- /.lesson_description -->

							<span class="lesson_status card_time mod_time tertiary">Viewed</span>

							<span class="lesson_go goLink"><span class="goLink_icn"><span class="meta">More Information</span></span></span>

							<a class="cover" href="lesson.html">View Lesson</a>
						</article><!-- /.lesson -->
					</li>
					<li>
						<article class="lesson card card-lesson">
							<div class="lesson_title">
								<h6 class="lesson_hdg">Series</h6>
								<span class="card_note pill">Updated</span>
							</div><!-- /.lesson_title -->

							<div class="lesson_description mod_body">
								<p>Learn about the Stratocaster history, features, sound and style, and what makes then unique dolor sit amet minium.</p>
							</div><!-- /.lesson_description -->

							<span class="lesson_status card_time mod_time tertiary">Viewed</span>

							<span class="lesson_go goLink"><span class="goLink_icn"><span class="meta">More Information</span></span></span>

							<a class="cover" href="lesson.html">View Lesson</a>
						</article><!-- /.lesson -->
					</li>
					<li>
						<article class="lesson card card-lesson">
							<div class="lesson_title">
								<h6 class="lesson_hdg">Telecaster</h6>
							</div><!-- /.lesson_title -->

							<div class="lesson_description mod_body">
								<p>Learn about the Stratocaster history, features, sound and style, and what makes then unique dolor sit amet minium.</p>
							</div><!-- /.lesson_description -->

							<span class="lesson_status card_time mod_time tertiary">Viewed</span>

							<span class="lesson_go goLink"><span class="goLink_icn"><span class="meta">More Information</span></span></span>

							<a class="cover" href="lesson.html">View Lesson</a>
						</article><!-- /.lesson -->
					</li>
					<li>
						<article class="lesson card card-lesson">
							<div class="lesson_title">
								<h6 class="lesson_hdg">Stratocaster</h6>
							</div><!-- /.lesson_title -->

							<div class="lesson_description mod_body">
								<p>Learn about the Stratocaster history, features, sound and style, and what makes then unique dolor sit amet minium.</p>
							</div><!-- /.lesson_description -->

							<span class="lesson_status card_time mod_time tertiary">Viewed</span>

							<span class="lesson_go goLink"><span class="goLink_icn"><span class="meta">More Information</span></span></span>

							<a class="cover" href="lesson.html">View Lesson</a>
						</article><!-- /.lesson -->
					</li>
					<li>
						<article class="lesson card card-lesson">
							<div class="lesson_title">
								<h6 class="lesson_hdg">Jaguar</h6>
							</div><!-- /.lesson_title -->

							<div class="lesson_description mod_body">
								<p>Learn about the Stratocaster history, features, sound and style, and what makes then unique dolor sit amet minium.</p>
							</div><!-- /.lesson_description -->

							<span class="lesson_status card_time mod_time tertiary">Viewed</span>

							<span class="lesson_go goLink"><span class="goLink_icn"><span class="meta">More Information</span></span></span>

							<a class="cover" href="lesson.html">View Lesson</a>
						</article><!-- /.lesson -->
					</li>
					<li>
						<article class="lesson card card-lesson">
							<div class="lesson_title">
								<h6 class="lesson_hdg">Jazzmaster</h6>
								<span class="card_note pill">Updated</span>
							</div><!-- /.lesson_title -->

							<div class="lesson_description mod_body">
								<p>Learn about the Stratocaster history, features, sound and style, and what makes then unique dolor sit amet minium.</p>
							</div><!-- /.lesson_description -->

							<span class="lesson_status card_time mod_time tertiary">Viewed</span>

							<span class="lesson_go goLink"><span class="goLink_icn"><span class="meta">More Information</span></span></span>

							<a class="cover" href="lesson.html">View Lesson</a>
						</article><!-- /.lesson -->
					</li>
					<li>
						<article class="lesson card card-lesson">
							<div class="lesson_title">
								<h6 class="lesson_hdg">Mustang</h6>
							</div><!-- /.lesson_title -->

							<div class="lesson_description mod_body">
								<p>Learn about the Stratocaster history, features, sound and style, and what makes then unique dolor sit amet minium.</p>
							</div><!-- /.lesson_description -->

							<span class="lesson_status card_time mod_time tertiary">Viewed</span>

							<span class="lesson_go goLink"><span class="goLink_icn"><span class="meta">More Information</span></span></span>

							<a class="cover" href="lesson.html">View Lesson</a>
						</article><!-- /.lesson -->
					</li>
				</ol><!-- /.chapters -->

				<aside class="callout bg">
					<figure class="callout_bg bg_img">
						<img src="{{ assets }}/img/uploads/callout-02.jpg" alt="Image description" />
					</figure>

					<div class="bg_copy">
						<h5 class="callout_txt">Ready to take the test on Electric Guitars?</h5>
						<p class="callout_body">Test now to earn IQ and become Fender Certified!</p>
						<a class="btn btn-solo js-modal-btn" href="test.html">Take Chapter Test</a>
					</div>
				</aside><!-- /.callout -->
			</div><!-- /.lms_wrapper -->
		</div><!-- /#learn -->
	</div><!-- /.page -->
{% endblock %}
